<div class="advantages container-fluid">
  <div class="container advantages__content">

    <div class="advantages__wrap">

      <h2
        class="section-title advantages__title advantages__title-compens"
      >Компенсационный пакет</h2>

      <div class="advantages__compens advantages__row">
        <div class="advantages__col advantages__compens-col">
          <div class="advantages__img">
            <img
              class="img-responsive"
              src="/sources/img/advantages/med.svg"
              width="48"
              height="48"
              alt="med"
            />
          </div>
          <span class="advantages__desc">Дмс</span>
        </div>

        <div class="advantages__col advantages__compens-col">
          <div class="advantages__img">
            <img
              class="img-responsive"
              src="/sources/img/advantages/cake.svg"
              width="48"
              height="48"
              alt="med"
            />
          </div>
          <span class="advantages__desc">Выходной в день рождения</span>
        </div>

        <div class="advantages__col advantages__compens-col">
          <div class="advantages__img">
            <img
              class="img-responsive"
              src="/sources/img/advantages/phone.svg"
              width="48"
              height="48"
              alt="med"
            />
          </div>
          <span class="advantages__desc">Корпоративная мобильная связь</span>
        </div>

        <div class="advantages__col advantages__compens-col">
          <div class="advantages__img">
            <img
              class="img-responsive"
              src="/sources/img/advantages/gantelya.svg"
              width="48"
              height="48"
              alt="med"
            />
          </div>
          <span class="advantages__desc">Корпоративные скидки на спорт </span>
        </div>

        <div class="advantages__col advantages__compens-col">
          <div class="advantages__img">
            <img
              class="img-responsive"
              src="/sources/img/advantages/hands.svg"
              width="48"
              height="48"
              alt="med"
            />
          </div>
          <span class="advantages__desc">LTI</span>
        </div>
      </div>

      <div class="advantages__line container">
        <div class="advantages__line-content">
        </div>
      </div>

      <h2 class="advantages__help-title advantages__title">Программа дополнительной мотивации</h2>
      <div class="advantages__help-title advantages__help-dop advantages__title">
        доплата 12% от суммы
      </div>

      <div class="advantages__help advantages__row">

        <div class="advantages__col advantages__help-col">
          <div class="advantages__img">
            <img
              class="img-responsive"
              src="/sources/img/advantages/print.svg"
              width="48"
              height="48"
              alt="med"
            />
          </div>
          <span class="advantages__desc">Оргтехники</span>
        </div>

        <div class="advantages__col advantages__help-col">
          <div class="advantages__img">
            <img
              class="img-responsive"
              src="/sources/img/advantages/med.svg"
              width="48"
              height="48"
              alt="med"
            />
          </div>
          <span class="advantages__desc">Дмс</span>
        </div>

        <div class="advantages__col advantages__help-col">
          <div class="advantages__img">
            <img
              class="img-responsive"
              src="/sources/img/advantages/home.svg"
              width="48"
              height="48"
              alt="med"
            />
          </div>
          <span class="advantages__desc">Ипотеки</span>
        </div>

      </div>

    </div>

  </div>

</div>
