<div class="buisness container-fluid">
  <div class="container buisness__content">

    <h2 class="section-title buisness__title">
      Направления бизнеса
    </h2>

    <div class="buisness__solutions">

      <div
        class="buisness__solution"
        style="background: url(/sources/img/buisness/solutions-bg.png);"
      >
        <div class="buisness__solution-content">
          <div class="buisness__solution-placeholder"></div>
          <span class="buisness__solution-title">Решения Softline</span>
          <p class="buisness__solution-desc">ГК Softline предлагает клиентам собственную линейку оборудования
            (ПК, серверы, торговое оборудование и проч.), разработку программных
            продуктов, облачных решений, решений в области информационной
            безопасности.</p>
        </div>
      </div>

      <div
        class="buisness__solution"
        style="background: url(/sources/img/buisness/cyber-bg.png);"
      >
        <div class="buisness__solution-content">
          <div class="buisness__solution-placeholder"></div>
          <span class="buisness__solution-title">Кибербезопасность</span>
        </div>
      </div>

      <div
        class="buisness__solution"
        style="background: url(/sources/img/buisness/import-replace-bg.png);"
      >
        <div class="buisness__solution-content">
          <div class="buisness__solution-placeholder"></div>
          <span class="buisness__solution-title">Импортозамещение</span>
        </div>
      </div>

      <div
        class="buisness__solution"
        style="background: url(/sources/img/buisness/cloud-solutions-bg.png);"
      >
        <div class="buisness__solution-content">
          <div class="buisness__solution-placeholder"></div>
          <span class="buisness__solution-title">Облачные решения</span>
        </div>
      </div>

      <div
        class="buisness__solution"
        style="background: url(/sources/img/buisness/transform-bg.png);"
      >
        <div class="buisness__solution-content">
          <div class="buisness__solution-placeholder"></div>
          <span class="buisness__solution-title">Цифровая трансформация и разработка ПО</span>
        </div>
      </div>

      <div
        class="buisness__solution"
        style="background: url(/sources/img/buisness/techn-bg.png);"
      >
        <div class="buisness__solution-content">
          <div class="buisness__solution-placeholder"></div>
          <span class="buisness__solution-title">Техническая поддержка Softline</span>
        </div>
      </div>

    </div>

  </div>
</div>
