<div class="buisness container-fluid">
  <div class="container buisness__content">

    <h2 class="section-title buisness__title">
      Направления бизнеса
    </h2>

    <div class="buisness__solutions">

      <div
        class="buisness__solution"
        style="background-image: url(/sources/img/buisness/solutions-bg.png);"
      >
        <div class="buisness__solution-content">
          <div class="buisness__solution-placeholder"></div>
          <div class="buisness__solution-title">
            <span>Решения Softline</span>
            <img
              class="buisness__solution-arrow"
              src="/sources/img/icons/arrow-buisness.svg"
              width="36"
              height="36"
              alt="arrow buisness"
            />
            <img
              class="buisness__solution-arrow-top"
              src="/sources/img/icons/arrow-buisness-top.svg"
              width="36"
              height="36"
              alt="arrow buisness top"
            />
          </div>
          <p class="buisness__solution-desc">
            ГК Softline предлагает клиентам собственную линейку оборудования
            (ПК, серверы, торговое оборудование и проч.), разработку программных
            продуктов, облачных решений, решений в области информационной
            безопасности.</p>
        </div>
      </div>

      <div
        class="buisness__solution"
        style="background-image: url(/sources/img/buisness/cyber-bg.png);"
      >
        <div class="buisness__solution-content">
          <div class="buisness__solution-placeholder"></div>
          <div class="buisness__solution-title">
            <span>Кибербезопасность</span>
            <img
              class="buisness__solution-arrow"
              src="/sources/img/icons/arrow-buisness.svg"
              width="36"
              height="36"
              alt="arrow buisness"
            />
            <img
              class="buisness__solution-arrow-top"
              src="/sources/img/icons/arrow-buisness-top.svg"
              width="36"
              height="36"
              alt="arrow buisness top"
            />
          </div>
          <p class="buisness__solution-desc">
            Softline обладает всеми необходимыми государственными лицензиями для
            организации проектов по информационной безопасности и аттестации.
          </p>
        </div>
      </div>

      <div
        class="buisness__solution"
        style="background-image: url(/sources/img/buisness/import-replace-bg.png);"
      >
        <div class="buisness__solution-content">
          <div class="buisness__solution-placeholder"></div>
          <div class="buisness__solution-title">
            <span>Импортозамещение</span>
            <img
              class="buisness__solution-arrow"
              src="/sources/img/icons/arrow-buisness.svg"
              width="36"
              height="36"
              alt="arrow buisness"
            />
            <img
              class="buisness__solution-arrow-top"
              src="/sources/img/icons/arrow-buisness-top.svg"
              width="36"
              height="36"
              alt="arrow buisness top"
            />
          </div>
          <p class="buisness__solution-desc">
            ГК Softline обладает широчайшим портфелем решений и услуг для
            импортозамещения, включая ПО и оборудование собственного
            производства.
          </p>
        </div>
      </div>

      <div
        class="buisness__solution"
        style="background-image: url(/sources/img/buisness/cloud-solutions-bg.png);"
      >
        <div class="buisness__solution-content">
          <div class="buisness__solution-placeholder"></div>
          <div class="buisness__solution-title">
            <span>Облачные решения</span>
            <img
              class="buisness__solution-arrow"
              src="/sources/img/icons/arrow-buisness.svg"
              width="36"
              height="36"
              alt="arrow buisness"
            />
            <img
              class="buisness__solution-arrow-top"
              src="/sources/img/icons/arrow-buisness-top.svg"
              width="36"
              height="36"
              alt="arrow buisness top"
            />
          </div>
          <p class="buisness__solution-desc">
            Softline использует современные облачные решения как российских, так
            и международных вендоров для масштабирования бизнеса своих клиентов.
            Подписки, услуги, трансформация.
          </p>
        </div>
      </div>

      <div
        class="buisness__solution"
        style="background-image: url(/sources/img/buisness/transform-bg.png);"
      >
        <div class="buisness__solution-content">
          <div class="buisness__solution-placeholder"></div>
          <div class="buisness__solution-title">
            <span>Цифровая трансформация и разработка ПО</span>
            <img
              class="buisness__solution-arrow"
              src="/sources/img/icons/arrow-buisness.svg"
              width="36"
              height="36"
              alt="arrow buisness"
            />
            <img
              class="buisness__solution-arrow-top"
              src="/sources/img/icons/arrow-buisness-top.svg"
              width="36"
              height="36"
              alt="arrow buisness top"
            />
          </div>
          <p class="buisness__solution-desc">
            Softline использует современные технологи и новые возможности для
            увеличения производительности бизнеса заказчика. В штате ГК Softline
            - 2000+ разработчиков, которые трансформируют ПО под нужды
            конкретного предприятия.
          </p>
        </div>
      </div>

      <div
        class="buisness__solution"
        style="background-image: url(/sources/img/buisness/techn-bg.png);"
      >
        <div class="buisness__solution-content">
          <div class="buisness__solution-placeholder"></div>
          <div class="buisness__solution-title">
            <span>Техническая поддержка Softline</span>
            <img
              class="buisness__solution-arrow"
              src="/sources/img/icons/arrow-buisness.svg"
              width="36"
              height="36"
              alt="arrow buisness"
            />
            <img
              class="buisness__solution-arrow-top"
              src="/sources/img/icons/arrow-buisness-top.svg"
              width="36"
              height="36"
              alt="arrow buisness top"
            />
          </div>
          <p class="buisness__solution-desc">
            200+ инженеров, 24 часа в сутки, 7 дней в неделю, 12 месяцев в году,
            сервисное партнерство с 30+ мировыми производителями.
          </p>
        </div>
      </div>

    </div>

  </div>
</div>
