<div class="corporate container-fluid">
  <div class="container">

    <div class="corporate__wrapper">
      <div class="corporate__content">
        <h2 class="section-title corporate__title">
          Корпоративная жизнь
        </h2>
        <div
          class="swiper-button swiper-button-next corporate__button-next"
        ></div>
        <div
          class="swiper-button swiper-button-prev corporate__button-prev"
        ></div>
      </div>

      <div class="swiper Corporate corporate__slider">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <img
              class="img-responsive corporate__img"
              src="/sources/img/corporate/Слайд1.webp"
              width="1110"
              height="834"
              alt="Слайд 1"
            />
          </div>

          <div class="swiper-slide">
            <img
              class="img-responsive corporate__img"
              src="/sources/img/corporate/Слайд2.webp"
              width="1110"
              height="834"
              alt="Слайд 2"
            />
          </div>

          <div class="swiper-slide">
            <img
              class="img-responsive corporate__img"
              src="/sources/img/corporate/Слайд3.webp"
              width="1110"
              height="834"
              alt="Слайд 3"
            />
          </div>

          <div class="swiper-slide">
            <img
              class="img-responsive corporate__img"
              src="/sources/img/corporate/Слайд4.webp"
              width="1110"
              height="834"
              alt="Слайд 4"
            />
          </div>

          <div class="swiper-slide">
            <img
              class="img-responsive corporate__img"
              src="/sources/img/corporate/Слайд5.webp"
              width="1110"
              height="834"
              alt="Слайд 5"
            />
          </div>

        </div>

      </div>

      <div
        class="swiper-pagination corporate__pagination swiper-pagination-bullets swiper-pagination-horizontal"
      ></div>

    </div>

  </div>
</div>
