<header class="header container-fluid">

  <div class="container header__inner">

    <div class="header__content">
      <div class="header__logo logo">
        <img src="/sources/img/logo.svg" width="125" height="25" alt="" />
      </div>

      <nav class="header__menu">
        <ul class="header__menu-list">
          <li class="header__menu-item">
            <a class="header__menu-link" href="#poezdki">Облачные решения</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#poezdki">Кибербезопасность</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#poezdki">Импортозамещение</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#poezdki">Цифровая трансформация</a>
          </li>
        </ul>
      </nav>
      
    </div>

  </div>

</header>

<div class="header-line container-fluid">
  <div class="container header__line-content"></div>
</div>
