<div class="map map__wrapper container-fluid">

  <div class="swiper">
    <div class="map__content swiper-wrapper">
      <div class="swiper-slide map__slide">
        <img
          class="map__img img-responsive"
          src="/sources/img/map/map.png"
          width="1190"
          height="600"
          alt="all regions map"
          style="display: block;"
          data-fancybox=""
        />

      </div>

      <div class="swiper-slide map__slide">
        <img
          class="map__img img-responsive"
          src="/sources/img/map/moscow-map.png"
          width="1190"
          height="600"
          alt="moscow map"
          data-fancybox=""
        />

      </div>

      <div class="swiper-slide map__slide">
        <img
          class="map__img img-responsive"
          src="/sources/img/map/center-map.png"
          width="1190"
          height="600"
          alt="center map"
          data-fancybox=""
        />
      </div>

      <div class="swiper-slide map__slide">
        <img
          class="map__img img-responsive"
          src="/sources/img/map/northwest-map.png"
          width="1190"
          height="600"
          alt="northwest map"
          data-fancybox=""
        />
      </div>

      <div class="swiper-slide map__slide">
        <img
          class="map__img img-responsive"
          src="/sources/img/map/south-map.png"
          width="1190"
          height="600"
          alt="south map"
          data-fancybox=""
        />
      </div>

      <div class="swiper-slide map__slide">
        <img
          class="map__img img-responsive"
          src="/sources/img/map/volga-map.png"
          width="1190"
          height="600"
          alt="volga map"
          data-fancybox=""
        />
      </div>

      <div class="swiper-slide map__slide">
        <img
          class="map__img img-responsive"
          src="/sources/img/map/ural-map.png"
          width="1190"
          height="600"
          alt="ural map"
          data-fancybox=""
        />
      </div>

      <div class="swiper-slide map__slide">
        <img
          class="map__img img-responsive"
          src="/sources/img/map/siberia-map.png"
          width="1190"
          height="600"
          alt="siberia map"
          data-fancybox=""
        />
      </div>

      <div class="swiper-slide map__slide">
        <img
          class="map__img img-responsive"
          src="/sources/img/map/far-east-map.png"
          width="1190"
          height="604"
          alt="far east map"
          data-fancybox=""
        />
      </div>

    </div>
  </div>

</div>