<div class="offer offer__mission offer__da container-fluid">

  <div class="container offer__mission-content">
    <h1 class="offer__title offer__title--mission">Миссия Softline</h1>
    <p class="offer__desc offer__desc--mission">
      Мы помогаем организациям трансформироваться, работать эффективно и
      безопасно в условиях цифровой экономики.
    </p>
  </div>

</div>
