@use "variables" as *;
@use "mixins" as *;

.header {
  position: relative;

  &__inner {
    padding: 30px 70px;

    @media (max-width: $md) {
      padding: 16px 32px;
      border: 0.5px solid rgb(217, 217, 217);
    }

    @media (max-width: $sm) {
      padding: 16px 8px 16px 5px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    gap: 20px;

    @media (max-width: $md) {
      flex-direction: column;
    }

    @media (max-width: $sm) {
      gap: 16px;
    }
  }

  &__line-content {
    height: 1px;
    background-color: rgb(217, 217, 217);
  }

  &__menu-list {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;

    @media (max-width: $lg) {
      gap: 15px;
      justify-content: center;
    }

    @media (max-width: $md) {
      justify-content: flex-start;
    }

    @media (max-width: $sm) {
      row-gap: 0px;
      column-gap: 10px;
    }
  }

  &__menu-link {
    color: $dark;

    font-size: 1.125rem;
    font-weight: 600;
    line-height: 20px;

    @media (max-width: $lg) {
      font-size: 1rem;
    }

    @media (max-width: $sm) {
      font-size: 0.875rem;
      line-height: 16px;
    }
  }
}
