// grid
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1249.98px;
$xxl: 1399.98px;
// $xxxl: 1599.98px;
// $hd: 1919.98px;

// Fonts
$main-font: "Proxima Nova Cn", Arial, sans-serif;
$menu-font: "Proxima Nova", Arial, sans-serif;

// Bg
$body-bg-color: #ffffff;

// Colors
$dark: rgb(68, 68, 68);
$white: rgb(255, 255, 255);
$red: rgb(176, 23, 54);
$red-2: rgb(163, 12, 51);
$night: rgb(45, 54, 83);

// Links
$link-hover: rgb(163, 12, 51);
$link-pressed: gray;

// Box shadows
$box-shadow-menu: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);

// Gradient
