@use "../variables" as *;
@use "../mixins" as *;

// Blocks
@forward "offer__top";
@forward "offer__menu";

// Global
.offer {
  @include column;

  &__title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 120%;
    text-align: center;

    color: $red;

    @media (max-width: $lg) {
      font-size: 2.5rem;
    }

    @media (max-width: $sm) {
      font-size: 1.75rem;
      font-weight: 600;
      line-height: 120%;

      text-align: start;
    }

    &--mission {
      color: $white;

      line-height: 100%;
      text-align: center;
    }
  }

  &__desc {
    color: rgb(68, 68, 68);

    margin-top: 30px;

    font-size: 2rem;
    font-weight: 400;
    line-height: 120%;
    text-align: center;

    @media (max-width: $lg) {
      font-size: 1.5rem;
    }

    @media (max-width: $md) {
      font-size: 1.25rem;
    }

    @media (max-width: $sm) {
      font-size: 1rem;
      text-align: left;

      margin-top: 10px;
    }

    &--mission {
      color: $white;

      font-size: 2.01rem;

      @media (max-width: $sm) {
        font-size: 1rem;
        line-height: 130%;

        text-align: center;
      }
    }
  }

  // Stats
  &__stats {
    display: block;

    @media (min-width: $sm) {
      display: none;
    }
  }

  &__stats-content {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
    row-gap: 24px;

    padding: 0px 13px;
  }

  &__achiev {
    @include column;
    align-items: center;

    text-align: center;
  }

  &__achiev-num {
    font-size: 40px;
    font-weight: 600;
    line-height: 80%;
  }

  &__achiev-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  // Top menu arrow
  &__arrow-top {
    display: none;
  }

  // Mission
  &__mission {
    background-color: $red-2;

    margin-top: 93px;

    @media (max-width: $sm) {
      margin-top: 0;
    }
  }

  &__mission-content {
    margin: 139px 0;
    padding: 0 71px 0 78px;

    @media (max-width: $sm) {
      padding: 25px 20px 0;
      margin: 7px auto 50px;
    }
  }
}
