@use "../variables" as *;
@use "../mixins" as *;

.offer__menu {
  display: none;
  flex-wrap: wrap;

  box-shadow: $box-shadow-menu;
  background: $white;

  width: 100%;
  max-width: 89%;

  margin-top: 20px;

  position: absolute;
  padding: 30px 70px;

  z-index: 20;

  row-gap: 15px;
  justify-content: space-between;

  &.active {
    display: flex;
    animation: toggle-opacity 0.4s ease-in 0s 1 forwards;
  }

  @media (max-width: $xl) {
    justify-content: flex-start;
  }

  @media (max-width: $lg) {
    box-shadow: none;

    top: 55px;
    margin-top: 0;
    padding: 20px 70px;

    width: auto;
  }

  // Classes
  &-wrapper {
    box-shadow: $box-shadow-menu;
    position: relative;

    .offer__top-menu-nav {
      display: flex;
      margin: 0;
    }

    .offer__top-menu-link {
      width: auto !important;
      height: auto;

      padding: 30px 0;

      @media (max-width: $lg) {
        padding: 20px 0;
      }
    }

    @media (max-width: $sm) {
      margin-top: 57px;
    }
  }

  &-nav {
    @include column;

    gap: 10px;

    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: $xl) {
      width: 13.94%;
    }

    @media (max-width: $lg) {
      width: 21%;
    }

    @media (max-width: $md) {
      width: 27.8%;
    }

    @media (max-width: $sm) {

    }
  }

  &-title {
    display: flex;
    gap: 3px;
  }

  &-list {
    .offer__menu-link {
      font-weight: 400;
    }
  }

  &-link {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 20px;
    text-align: left;

    cursor: pointer;

    transition: all 0.1s ease-in-out;

    &:hover {
      color: $link-hover;
    }

    &--regular {
      font-family: $menu-font;
    }

    @media (max-width: $lg) {
      font-size: 1rem;
    }
  }

  &-polygon {
    display: none;

    @media (max-width: $lg) {
      display: flex;

      &.hide {
        display: none;
      }
    }
  }

  &-polygon-active {
    display: none;

    @media (max-width: $lg) {
      &.shown {
        display: flex;
      }
    }
  }
}
